<table>
    <thead>
        <tr><th colspan=2><%= cabinet["name"] %></th></tr>
    </thead>
    <tbody>
        <% slots.keys.sort.each do |slot| %>
            <tr>
                <td><%= slot %></td>
                <td>
                    <% if slots[slot] %>
                        <%= slots[slot]["label"] %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
        
