<form action="/create/cabinet" method=post>
  <input type=hidden name=nextview value=cabinets />
  <table>
    <tr>
      <td>Name:</td>
      <td><input type=text name=name /></td>
    </tr>
    <tr>
      <td>Height:</td>
      <td><input type=text name=height value="45" /></td>
    </tr>
    <tr>
      <td colspan=2><input type=submit value=Save /></td>
    </tr>
  </table>
</form>
