<div class=machine>
  <div class="background chassis"></div>
  <div class="background role"></div>
  <div class="foreground label"><a href="/v/machine/detail/<%= machine["_id"] %>"><%= machine["label"] %></a></div>
  <div class="foreground name"><a href="/v/machine/detail/<%= machine["_id"] %>"><%= machine["name"] %></a></div>
</div>
